// COLORS
$primary-color: #dacef8;
$secondary-color: #f08e89;

$white-color: #fff;

$dark-blue-text: #311b1a; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
